#logoText {
    font-weight : bold; 
    color : white;
}

#logoText:hover {
    color : grey; 
}
#search{
   text-align: right;
}
#post{
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.8);
    max-width: 550px;
    margin:  auto;
    display: flex;
    padding: 50px;
    
}
.wrapper{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    height: 100vh;
}
#pn{
    padding: 20px;
}
button{
    flex: 1;
    padding: 25px 50px;
    margin: 25px;
    border-radius: 999px;
    border: 5px orange;
    font-family: 'VT323' monospace;
    font-size: 25px;
    text-shadow: 0 3px 5px rgba(0,0,0,0.25);
    white-space: nowrap;
    color: white;
    cursor: pointer;
    user-select: none;
    background: #ee7125;
    background-repeat: repeat-x;
    background-position: 0 -100%;
    transition: 1.5s ease;
}
butthon:hover{
    background position: 500% 100%;
}
#ac{
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.8);
    max-width: 750px;
    margin:  auto;
    display: flex;
    padding: 100px;
    
}
#space{
    padding: 10px;
    
}
#acc{
	margin: 25px;
	padding: 10px;
    text-align: bottom;
    
}